use flake;

mkdir -p .local/bin
corepack enable --install-directory .local/bin
PATH_add .local/bin

git config core.hooksPath .husky

export DATABASE_URL=postgresql://sideline:sideline@localhost:5432/sideline

source .env.local
