map $host $var_server_upstream {
  default "${SERVER_UPSTREAM}";
}

map $host $var_web_upstream {
  default "${WEB_UPSTREAM}";
}

map $host $var_docs_upstream {
  default "${DOCS_UPSTREAM}";
}

map $host $var_frontend_url {
  default "$FRONTEND_URL";
}
